@charset "utf-8";

@font-face{
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 300; /* bold */
  src: url(../font/NanumSquareL.eot) format('eot');
  src: url(../font/NanumSquareL.woff) format('woff');
  src: url(../font/NanumSquareL.woff2) format('woff2');
}

@font-face{
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 400; /* normal */
  src: url(../font/NanumSquareR.eot) format('eot');
  src: url(../font/NanumSquareR.woff) format('woff');
  src: url(../font/NanumSquareR.woff2) format('woff2');
}

@font-face{
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 700; /* bold */
  src: url(../font/NanumSquareB.eot) format('eot');
  src: url(../font/NanumSquareB.woff) format('woff');
  src: url(../font/NanumSquareB.woff2) format('woff2');
}


@font-face{
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 800; /* bold */
  src: url(../font/NanumSquareEB.eot) format('eot');
  src: url(../font/NanumSquareEB.woff) format('woff');
  src: url(../font/NanumSquareEB.woff2) format('woff2');
}

*{margin: 0; padding: 0; box-sizing: border-box;}
html , body{font-family: 'NanumSquare', sans-serif; font-size: 10px; font-weight: 300; line-height: 1.3; color: #4C4C4C; }
a{text-decoration: none; color: #222;}
img{border: 0; vertical-align: top;}
input, select{vertical-align: top;}
ul, ol{list-style: none;}
button{border: 0; background-color: transparent; border-radius: 0; cursor: pointer;}
fieldset{border: 0;}
legend{display: none;}
input{outline: none;}
input:focus::-webkit-input-placeholder,
input:focus::-ms-input-placeholder{color: transparent;}
