@charset "utf-8";

#wrap{
  /* width: 320px;  */
  margin: 0 auto;
  min-width: 320px;
}


header{
  background-color: #fff;
  position: relative;
  height: 55px;
}
header h1 a{
  height: 50px;
  background: url(../img/logo.png) no-repeat left;
  background-size: 35%;
  margin-left: 20px;
  display: block;
  font-size: 0;
  letter-spacing: 2.16px;
  font-weight: normal;
  color:transparent;
}

.nav_menu{
  width: 320px;
  height: 600px;
  background-color: #fff;
  position: absolute;
  top: 55px;
  right: -350px;
  z-index: 99;
  transition: all 0.5s;
}
.bg{
  width: 100%;
  height: 150px;
  background-color: #666;
  position: relative;
}

.bg_icon{
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: url(../img/bg_icon.png) no-repeat center;
  background-size: 80%;
}

.bg_icon_txt a{
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 105px;
  left: 50%;
  font-weight: 400;
  transform: translateX(-50%);
}

.nav_menu ul li{
  font-weight: 400;
  font-size: 16px;
  border: solid 0.3px rgb(240, 240, 240);
  padding: 10px 20px 10px;
}

.nav_menu ul li:hover{
  font-weight: 600;
}


.menu{
  width: 21px;
  height: 16px;
  position: absolute; top: 18px; right: 14px;
}

nav ul{
  display: flex;
  justify-content: center;
}

nav li a{display: none;} 

.visual_img{
  height: 300px;
  background: url(../sub03_img/main_visual.jpg) no-repeat center;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

h2{
  color: #fff;
  font-weight: bold;
  padding-top: 115px;
  font-size: 30px;
  text-align: center;
}

.sub_title{
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

span{
  border-radius: 3px;
  font-size: 28px; font-weight: 600;
  margin-right: 5px;
}

.img01_sub_txt02{
  background: url(../sub03_img/text_bg.png) no-repeat center;
  margin: 50px auto;
  display: block;
  width: 200px;
  height: 54px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  background-size: 63%;
}

.img_wrap{
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.img_wrap:hover .img01{
  background-size: 135%;
}
.img_wrap:hover .img02{
  background-size: 135%;
}
.img_wrap:hover .img03{
  background-size: 135%;
}
.img_wrap:hover .img04{
  background-size: 135%;
}
.img_wrap:hover .img05{
  background-size: 135%;
}
.img_wrap:hover .img06{
  background-size: 135%;
}
.img_wrap:hover .img07{
  background-size: 135%;
}

.img01{
  background: url(../sub03_img/img01.png) no-repeat center;
  height: 400px;
  background-size: 125%;
  transition: all 0.5s;
}

.img_span{
  background-color: #E2E8ED;
  font-weight: 400;
  font-size: 23px;
}
.img01_txt01{
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.img01_txt02{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}


.img01_txt03{
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.more01{
  margin: 20px auto;
  margin-bottom: 70px;
  display: block;
  width: 110px;
  height: 40px;
  color: #707070;
  line-height:40px;
  border: 1px solid #707070;
  background-color:#fff;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s;
  font-weight: bold;
  border-radius: 3px;
}

.more01:hover{
  background-color:#707070;
  color: #fff;
}

.img02{
  background: url(../sub03_img/img02.jpg) no-repeat center;
  height: 400px;
  background-size: 125%;
  transition: all 0.5s;
}

.text_bg02 .img01_sub_txt02{
  background: url(../sub03_img/text_bg02.png) no-repeat center;
  margin: 50px auto;
  display: block;
  width: 200px;
  height: 54px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  background-size: 65%;
}

.img03{
  background: url(../sub03_img/img03.jpg) no-repeat center;
  height: 400px;
  background-size: 125%;
  transition: all 0.5s;
}

.img_span02{
  background-color: #FFEBEB;
  font-weight: 400;
  font-size: 23px;
}

.img04{
  background: url(../sub03_img/img04.jpg) no-repeat center;
  height: 400px;
  background-size: 125%;
  transition: all 0.5s;
}

.img05{
  background: url(../sub03_img/img05.jpg) no-repeat center;
  height: 400px;
  background-size: 125%;
  transition: all 0.5s;
}

.img06{
  background: url(../sub03_img/img06.jpg) no-repeat center;
  height: 400px;
  background-size: 125%;
  transition: all 0.5s;
}

.img07{
  background: url(../sub03_img/img07.jpg) no-repeat center;
  height: 400px;
  background-size: 125%;
  transition: all 0.5s;
}

.footer{
  margin-top: 50px;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 35px;
  background-color:#E0E0E0;
  position: relative;
}

.footer_txt{
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.icon04{
  width: 29px;
  height: 29px;
  background: url(../sub01_img/icon04.png) no-repeat center;
}

.icon05{
  width: 29px;
  height: 29px;
  background: url(../sub01_img/icon05.png) no-repeat center;
  background-size: 100%;
}

.icon06{
  width: 29px;
  height: 29px;
  background: url(../sub01_img/icon06.png);
}

.icon04_wrap > a{
  float: left;
  margin-right: 20px;
}

.icon04_wrap{
  position: absolute; top: 20px; left: 50%;
  transform: translateX(-50%);
}

@media (min-width:758px){
  #wrap{
  min-width: 758px;}
  
  header{
    position: relative;
    width: 100%;
    z-index: 99;
    height: 60px;
  }

  .main{display: none;}

  header h1 a{
    background: url(../img/logo.png) no-repeat center;
    background-size: 90%;
    margin-left: 20px;
    font-weight: 400;
    letter-spacing: 2.16px;
    display: block;
    position: absolute; top: 3px; left: 50%;
    transform: translateX(-50%);
    width: 270px;
    font-size: 30px;
  }

  .nav_menu{display: none;}
  .bg{display: none;}
  .nav_menu ul li{display: none;}

  .menu{display: none;}

  nav ul{
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  nav li a{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    }
    
  nav li{margin-right: 50px;}
  nav li:last-child{margin-right: 0;}

  nav ul li a:hover{
    transition: all 0.3s;
    color: #2578DE;
  }
  

  .all_01, .all_02{
    float: left;
    width: calc((100%) / 2);
  }

  .all_03, .all_04, .all_05{
    float: left;
    width: calc((100%) / 3);
  }

  .all_06, .all_07{
    float: left;
    width: calc((100%) / 2);
  }

  .more01{margin-bottom: 20px;}
}

@media (min-width:1024px){
  #wrap{
  min-width: 1024px;}

  header{display: none;}
  header h1 a{display: none;}

  .menu{display: none;}
  
  .main{
    font-size: 0;
    color: transparent;
    width: 250px;
    display: block;
    background: url(../img/logo.png) no-repeat left;
    background-size: 100%;
  }

  nav{
    height: 80px;
    background-color:#fff;
    padding-top: 18px;
  }

  
  nav ul{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  nav li a{
    font-weight: 700;
    font-size: 18px;
  }
}
