@charset "utf-8";

@font-face{
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 400; /* normal */
  src: local(NanumSquareR);
  src: url(font/NanumSquareR.eot), /* IE 6~8, IE 호환성보기 */
  url(font/NanumSquareR.woff2) format('woff2'),
  url(font/NanumSquareR.woff) format('woff');

}

@font-face{
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800; /* bold */
  src: local(NanumSquareB);
  src: url(font/NanumSquareB.eot), /* IE 6~8, IE 호환성보기 */
  url(font/NanumSquareB.woff2) format('woff2'),
  url(font/NanumSquareB.woff) format('woff');
}

*{margin: 0; padding: 0; box-sizing: border-box;}
html , body{font-family: 'Noto Sans KR', sans-serif; font-size: 10px; font-weight: 300; line-height: 1.3; color: #4C4C4C; }
a{text-decoration: none; color: #222;}
img{border: 0; vertical-align: top;}
input, select{vertical-align: top;}
ul, ol{list-style: none;}
button{border: 0; background-color: transparent; border-radius: 0; cursor: pointer;}
fieldset{border: 0;}
legend{display: none;}
input{outline: none;}
input:focus::-webkit-input-placeholder,
input:focus::-ms-input-placeholder{color: transparent;}

@media (max-width:360px){
  html , body{font-size: 8px;}
}

<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Dongle:wght@700&family=Gowun+Batang:wght@700&family=Gugi&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@300;400&family=Song+Myung&family=Sunflower:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Gugi&family=Merriweather&family=Nanum+Myeongjo:wght@700;800&family=Noto+Sans+KR:wght@100;300;500&family=Quicksand:wght@400;500&family=Roboto+Slab:wght@500;600;700&family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
